/* common css start */
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #fff;
}
h1 {
    font-family: "Dancing Script", cursive;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}
/* common css end */

/*  banner css start */
#banner {
    padding-top: 140px;
    padding-bottom: 140px;
    background: url(../images/banner.jpg) no-repeat center/cover;
    position: relative;
    z-index: 1;
}
#banner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
/*  banner css end */
